.search-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-wrapper input {
  height: 36px;
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  min-width: 180px;
}

.search-btn {
  width: 42px;
  height: 42px;
  background: #5b2d86;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-btn:hover {
  background: #4a246f;
}
